In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [39]:
rate = pd.read_csv(r'C:\Users\Michael\Data\title_ratings.csv.gz') 
rate2 = rate.copy()

In [4]:
aka = pd.read_csv(r'C:\Users\Michael\Data\title_aka.csv.gz')   
aka2 = aka.copy()

In [3]:
basics = pd.read_csv(r'C:\Users\Michael\Data\title_basics.csv.gz')   
basics2 = basics.copy()

In [4]:
basics['genres_split'] = basics['genres'].str.split(',')
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama,[Drama]
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama,[Drama]
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002,NaN,126,Drama,[Drama]

In [5]:
exploded_genres = basics.explode('genres_split')
exploded_genres.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",Romance
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama,Drama

In [6]:
unique_genres = sorted(exploded_genres['genres_split'].unique())

In [7]:
title_genres = exploded_genres[['tconst', 'genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0069049        Drama

In [9]:
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))

In [10]:
title_genres['genre_id'] = title_genres['genres_split'].map(genre_map)
title_genres = title_genres.drop(columns = 'genres_split')
title_genres.head()

      tconst  genre_id
0  tt0035423         5
0  tt0035423         9
0  tt0035423        18
1  tt0062336         7
2  tt0069049         7

In [11]:
genre_lookup = pd.DataFrame({'Genre_Name': genre_map.keys(),
                            'Genre_ID': genre_map.values()})
genre_lookup.head()

  Genre_Name  Genre_ID
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

In [23]:
id_filter = title_genres['tconst']=='tt0187738'

In [27]:
basics_1 = basics[['tconst','primaryTitle', 'startYear', 'runtimeMinutes', 'genres']]

In [12]:
#Use SQL alchemy in Python to convert this information into a MySQL database in your jupyter notebook.
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy_utils import create_database, database_exists

In [13]:
#Create a new MySQL database called "belt_exam" using SQLAlchemy_utils 
username = "root"
password = "root" 
connection = f"mysql+pymysql://{username}:{password}@localhost/movies"

In [14]:
#create engine
engine = create_engine(connection)
engine

Engine(mysql+pymysql://root:***@localhost/movies)

In [15]:
#create database connection
create_database(connection)

ProgrammingError: (pymysql.err.ProgrammingError) (1007, "Can't create database 'movies'; database exists")
[SQL: CREATE DATABASE movies CHARACTER SET = 'utf8']
(Background on this error at: https://sqlalche.me/e/14/f405)

In [16]:
#test connection
database_exists(connection)

True

In [17]:
#test database
if database_exists(connection) == False:
  create_database(connection)
else:
  print('The database already exists')

The database already exists

In [34]:
from sqlalchemy.types import *

key_len = basics['tconst'].fillna('').map(len).max()
genre_len = basics['genres'].fillna('').map(len).max()
key_len = title_genres['tconst'].fillna('').map(len).max()

df_schema = {
    "tconst": String(key_len+1), 
    "primaryTitle": Text(title_len+1),
    'startYear':Float(),
    'genres': String(genre_len+1),
    'runtimeMinutes':Integer()}
basics_1.to_sql('title_basics',engine,dtype=df_schema,if_exists='replace',index=False)

84987

In [35]:
from sqlalchemy.types import *

key_len = title_genres['tconst'].fillna('').map(len).max()

title_genre_schema = {
    "tconst": String(key_len+1), 
    "genre_id": Integer()}
title_genres.to_sql('title_genres',engine,dtype=title_genre_schema,if_exists='replace',index=False)

158740

In [36]:
from sqlalchemy.types import *

genre_len = genre_lookup['Genre_Name'].fillna('').map(len).max()

genre_schema = {
    "Genre_ID": Integer(), 
    "Genre_Name": Text(genre_len+1)}
genre_lookup.to_sql('genre_lookup',engine,dtype=genre_schema,if_exists='replace',index=False)

26

In [41]:
from sqlalchemy.types import *

key_len = rate['tconst'].fillna('').map(len).max()

ratings_schema = {
    "tconst": String(key_len+1), 
    "averageRating": Float(),
    "numVotes": Integer()}
rate.to_sql('title_ratings',engine,dtype=ratings_schema,if_exists='replace',index=False)

484937

In [21]:
engine.execute('ALTER TABLE genre_lookup ADD PRIMARY KEY (`Genre_ID`);')

In [42]:
engine.execute('ALTER TABLE title_ratings ADD PRIMARY KEY (`tconst`);')

In [22]:
q1 = """SELECT * FROM genre_lookup;"""
pd.read_sql(q1, engine)

    Genre_Name  Genre_ID
0       Action         0
1        Adult         1
2    Adventure         2
3    Animation         3
4    Biography         4
5       Comedy         5
6        Crime         6
7        Drama         7
8       Family         8
9      Fantasy         9
10   Game-Show        10
11     History        11
12      Horror        12
13       Music        13
14     Musical        14
15     Mystery        15
16        News        16
17  Reality-TV        17
18     Romance        18
19      Sci-Fi        19
20       Short        20
21       Sport        21
22   Talk-Show        22
23    Thriller        23
24         War        24
25     Western        25

In [26]:
q2 = """SELECT * FROM title_genres;"""
pd.read_sql(q2, engine)

           tconst  genre_id
0       tt0035423         5
1       tt0035423         9
2       tt0035423        18
3       tt0062336         7
4       tt0069049         7
...           ...       ...
158735  tt9916190         0
158736  tt9916190         2
158737  tt9916190        23
158738  tt9916362         7
158739  tt9916362        11

[158740 rows x 2 columns]

In [32]:
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')

In [33]:
q3 = """SELECT * FROM title_basics;"""
pd.read_sql(q3, engine)

,tconst,primaryTitle,startYear,runtimeMinutes,genres
0,tt0035423,Kate & Leopold,2001.0,118,"Comedy,Fantasy,Romance"
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,70,Drama
2,tt0069049,The Other Side of the Wind,2018.0,122,Drama
3,tt0088751,The Naked Monster,2005.0,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,Crime and Punishment,2002.0,126,Drama
...,...,...,...,...,...
84982,tt9914942,Life Without Sara Amat,2019.0,74,Drama
84983,tt9915872,The Last White Witch,2019.0,97,"Comedy,Drama,Fantasy"
84984,tt9916170,The Rehearsal,2019.0,51,Drama
84985,tt9916190,Safeguard,2020.0,95,"Action,Adventure,Thriller"
84986,tt9916362,Coven,2020.0,92,"Drama,History"

In [44]:
q4 = """SELECT * FROM title_ratings;"""
pd.read_sql(q4, engine)

           tconst  averageRating  numVotes
0       tt0000001            5.7      1936
1       tt0000002            5.8       262
2       tt0000005            6.2      2571
3       tt0000006            5.1       177
4       tt0000007            5.4       808
...           ...            ...       ...
484932  tt9916200            8.2       220
484933  tt9916204            8.2       251
484934  tt9916348            8.5        17
484935  tt9916362            6.4      5110
484936  tt9916428            3.8        14

[484937 rows x 3 columns]