In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
rate = pd.read_csv(r'C:\Users\Michael\Data\title_ratings.csv.gz') 
rate2 = rate.copy()

In [3]:
basics = pd.read_csv(r'C:\Users\Michael\Data\title_basics.csv.gz')   
basics2 = basics.copy()

In [4]:
aka = pd.read_csv(r'C:\Users\Michael\Data\title_aka.csv.gz')   
aka2 = aka.copy()

# Part 3: Construct and export a MySQL database using your data.

In [5]:
#Use SQL alchemy in Python to convert this information into a MySQL database in your jupyter notebook.
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy_utils import create_database, database_exists

In [6]:
#Create a new MySQL database called "belt_exam" using SQLAlchemy_utils 
username = "root"
password = "root" 
connection = f"mysql+pymysql://{username}:{password}@localhost/movies"

In [7]:
#create engine
engine = create_engine(connection)
engine

Engine(mysql+pymysql://root:***@localhost/movies)

In [8]:
#create database connection
create_database(connection)

In [9]:
#test connection
database_exists(connection)

True

In [10]:
#test database
if database_exists(connection) == False:
  create_database(connection)
else:
  print('The database already exists')

The database already exists